@import "../styles/variables";

.root {
    min-height: calc(100vh - 46px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
    position: relative;
}

.wrapFilms {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5%;
}

.noFoundText {
    height: 100%;
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
    align-items: center;
    color: @light-grey2;
    font-size: 60px;
}