@import "../../styles/variables";

.root {
    height: 527px;
    color: @light-grey2;
    padding-top: 10px;
    background: ~"url('../background.jpg') center 69% no-repeat";
    position: relative;
}

.logoLink {
    text-align: left;
}

.top {
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

.overRoot {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 537px;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

.topLink {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.filmCover {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filmInformation {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filmDescription {
    padding-top: 27px;
    width: 50%;
}

.filmTitle {
    color: @pink-color;
}

.numberFilmInformation {
    color: @white-color;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 40px;
}

.subFilmInformation {
    font-size: 12px;
}

.searchButton {
    float: right;
}

.wrapTop {
    position: relative;
    z-index: 2;
}

.image {
    height: 350px;
}