.root {
    position: relative;
    height: 71px;
    line-height: 71px;
    flex: 0 0 auto;
}
.inner {
    position: relative;
    z-index: 2;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.overRoot {
    position: absolute;
    height: 71px;
    width: 100%;
    background: black;
    opacity: 0.8;
    line-height: 71px;
}

.logoLink {
    height: 71px;
}