@white-color: #fefefe;
@pink-color: #f55263;
@dark-grey: #3e3e3e;
@light-grey: #f5f5f5;
@light-grey2: #d9d9d9;
@black-color: #000;

.border-radius (@radius: 2px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;
    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

*, button, a {
    font-family: Tahoma;
}

a {
    text-decoration: none!important;
    cursor: pointer;
}