@import "../styles/variables";

.commons {
    .border-radius();
    outline: none;
    border: 0;
    color: @white-color;
    text-transform: uppercase;
    cursor: pointer;
}

.white {
    composes: commons;
    background: @white-color;
    color: @pink-color;
}
.pink {
    composes: commons;
    background: @pink-color;
}

.grey {
    composes: commons;
    background: @dark-grey;
}