@import "../styles/variables";

.placeholder {
    ::-webkit-input-placeholder {color:@white-color}
    ::-moz-placeholder {color:@white-color}
    :-ms-input-placeholder {color:@white-color}
}

.searchField {
    composes: placeholder;
    height: 55px;
    width: 100%;
    padding-left: 25px;
    border: 0px;
    border-bottom: 2px solid @pink-color;
    background: @black-color;
    outline: none;
    line-height: 55px;
    font-size: 20px;
    color: @white-color;
}

.button:after {
    //content: @fa-var-arrows;
    color: @white-color;
}

.root {
    margin-top: 10px;
}