@import "../styles/variables";

.filter {
    height: 57px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 57px;
    background: @light-grey;
    font-weight: bold;
    color: @dark-grey;
}
