@import "../styles/variables";

.root {
    text-align: center;
    width: 272px;
    margin: auto;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: @dark-grey;
}

.genre {
    font-size: 13px;
    color: @dark-grey;
}

.year {
    font-size: 13px;
    color: @dark-grey;
    border: 1px solid @dark-grey;
    float: right;
    .border-radius();
    padding: 0px 5px;
    margin-top: 6px;
}

.listInfo {
    width: 100%;
}

.wrapInfo {
    text-align: left;
}

.image {
    border: 1px solid #dedede;
}