@import "../styles/variables";

.root {
    display: flex;
    justify-content: space-between;
}

.sort {
    margin-right: 5px;
    margin-left: 5px;
    color: @dark-grey;
    font-weight: bold;
    cursor: pointer;
}

.active {
    composes: sort;
    outline: none;
    color: @pink-color;
}