@import "../../styles/variables";

.root {
    height: 288px;
    padding-top: 10px;

    position: relative;
    background: ~"url('../background.jpg') center 69% no-repeat";
    overflow: hidden;
}

.top {
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}

.middleCatalog {
    margin: auto;
    margin-top: 40px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.infoCatalog {
    position: relative;
    z-index: 2;
}

.buttonsCatalog {
    margin-left: 20px;
    margin-right: 20px;
    display: inline;
}

.searchWrapCatalog {
    width: 100%;
}

.linksWrapCatalog {
    margin-top: 20px;
    width: 100%;
}

.overRoot {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 537px;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

.searchButton {
    float: right;
}

.form {
    width: 100%;
}

